
.container-footer {
    display: absolute;
    margin-right: 5%;
    margin-left: 5%;
    bottom: 0;
}

.title-footer {
    padding-bottom: 3%;
    font-weight: 800;
    font-size: 1.5rem;
}


.main-footer {
    background-color: black;
    color: white; 
    padding-top: 2%;
}

.footer-bottom {
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 0;
}
 .text-footer {
     margin-top: 0;
 }

 .social-footer {
     padding-right:5%;
 }